$button-clr--hover: #666ca3;
$primary-dark: #13183f;
$text-primary-clr: #83869a;
$text-light-clr: #fff;
$link-clr: #f74780;
$link-clr--hover: #ffa7c3;

$warm-linear: linear-gradient(#ff6f48, #f02aa6);
$cool-linear: linear-gradient(#4851ff, #f02aa6); //4851FF - F02AA6
$bg-linear: linear-gradient(#fff 50%, #c6c9efb9 100%);
