$cross-pri-clr: #65e9e4;
$cross-shadow-clr: #31c3bd;
$cross-hover-clr: #65e9e4;
$cross-hover-shadow-clr: #118c87;

$circle-pri-clr: #ffc860;
$circle-shadow-clr: #f2b137;
$circle-hover-clr: #ffc860;
$circle-hover-shadow-clr: #cc8b13;

$bg-clr: #1a2a33;
$dark-pri-clr: #1f3641;
$dark-shadow-clr: #10212a;

$light-pri-clr: #a8bfc9;
$light-shadow-clr: #6b8997;
$light-hover-clr: #dbe8ed;
$light-hover-shadow-clr: #6b8997;
