@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

.heading-XL {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 70px;
}
.heading-L {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 51px;
}
.heading-M {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
}
.heading-S {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
}

.body-M {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.body-S {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
