body {
  background-color: #1a2a33;
  color: #fff;
}

main {
  width: 335px;
  margin: 128px auto 0;
}

div.board {
  display: grid;
  border: 2px solid #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

div.square {
  width: 96px;
  height: 96px;
  background-color: #1f3641;
  border-radius: 10px;
  box-shadow: inset 0px -10px #10212a;
  padding: 24px 28px 32px 28px;
  img {
    width: 40px;
    height: 40px;
  }
}
