@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-y: hidden;
}

body {
  background-color: #1a2a33;
  color: #fff;
  height: 100%;
  position: relative;
}

.home-container {
  width: 327px;
  height: 429px;
  display: flex;
  flex-direction: column;
  margin: 120px auto 10px auto;
}
.home-container .logo-home {
  display: inline-block;
  width: 72px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.home-container .pick-box {
  width: 327px;
  height: 205px;
  margin-bottom: 32px;
  padding: 24px 32px 30px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f3641;
  box-shadow: inset 0px -8px #10212a;
  border-radius: 15px;
}
.home-container .pick-box .pick-box-text--top {
  color: #a8bfc9;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
  margin-bottom: 33px;
}
.home-container .pick-box .pick-box-text--bottom {
  color: #a8bfc9;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.64px;
  letter-spacing: 0.88px;
  opacity: 0.5;
}
.home-container .pick-box .pick-box-xo {
  width: 279px;
  height: 72px;
  background-color: #1a2a33;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 17px;
  position: relative;
}
.home-container .pick-box .pick-box-xo .pick-box-selected-left {
  width: 132px;
  height: 54px;
  position: absolute;
  top: 5px;
  left: 8px;
}
.home-container .pick-box .pick-box-xo .pick-box-selected-right {
  width: 132px;
  height: 54px;
  position: absolute;
  top: 5px;
  right: 8px;
}
.home-container .pick-box .pick-box-xo .pick-box-selected-x {
  width: 132px;
  height: 54px;
  background-color: #a8bfc9;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: 8px;
  -webkit-animation: slideToLeft 0.5s ease-in;
          animation: slideToLeft 0.5s ease-in;
  z-index: 3;
}
@-webkit-keyframes slideToLeft {
  0% {
    transform: translateX(132px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes slideToLeft {
  0% {
    transform: translateX(132px);
  }
  100% {
    transform: translate(0);
  }
}
.home-container .pick-box .pick-box-xo .pick-box-selected-o {
  width: 132px;
  height: 54px;
  background-color: #a8bfc9;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  right: 8px;
  -webkit-animation: slideToRight 0.5s ease-in;
          animation: slideToRight 0.5s ease-in;
  z-index: 3;
}
@-webkit-keyframes slideToRight {
  0% {
    transform: translateX(-132px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes slideToRight {
  0% {
    transform: translateX(-132px);
  }
  100% {
    transform: translate(0);
  }
}
.home-container .pick-box .pick-box-xo .pick-box-xo--x {
  width: 32px;
  margin: auto;
  position: absolute;
  top: 11px;
  left: 50px;
}
.home-container .pick-box .pick-box-xo .pick-box-xo--Selected {
  filter: brightness(0) saturate(100%) invert(13%) sepia(5%) saturate(3586%) hue-rotate(157deg) brightness(97%) contrast(94%);
}
.home-container .pick-box .pick-box-xo .pick-box-xo--o {
  width: 32px;
  margin: auto;
  position: absolute;
  top: 11px;
  left: 50px;
}
.home-container .pick-box .pick-box-xo .pick-box-xo--notSelected, .home-container .pick-box .pick-box-xo .under-marks--o, .home-container .pick-box .pick-box-xo .under-marks--x {
  filter: brightness(0) saturate(100%) invert(92%) sepia(6%) saturate(992%) hue-rotate(166deg) brightness(83%) contrast(88%);
}
.home-container .pick-box .pick-box-xo .under-marks--x {
  z-index: 2;
  position: absolute;
  top: 16px;
  left: 58px;
  width: 32px;
}
.home-container .pick-box .pick-box-xo .under-marks--o {
  z-index: 2;
  position: absolute;
  top: 16px;
  left: 189px;
  width: 32px;
}
.home-container .btn-newgame-cpu {
  width: 327px;
  height: 56px;
  border: none;
  border-radius: 15px;
  background-color: #f2b137;
  box-shadow: inset 0px -8px #cc8b13;
  color: #1a2a33;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
  padding: 14px 76px 22px 76px;
  position: relative;
}
.home-container .btn-newgame-cpu:active {
  box-shadow: none;
  top: 8px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 335px;
  height: 40px;
  margin-bottom: 64px;
}
nav .turn-block {
  display: flex;
  justify-content: space-around;
  width: 96px;
  height: 40px;
  background-color: #1f3641;
  border-radius: 5px;
  box-shadow: inset 0px -4px #10212a;
  margin: 0px 74px 0px 46.03px;
  padding: 9px 15px 9px 13px;
}
nav .turn-block p {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.64px;
  letter-spacing: 0.88px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #6b8997;
}
nav .turn-block .sign {
  font-size: 16px;
}
nav button {
  position: relative;
  background-color: #a8bfc9;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: inset 0px -4px #6b8997;
}
nav button:hover {
  background-color: #dbe8ed;
}
nav button:active {
  box-shadow: none;
  top: 4px;
}

main {
  width: 335px;
  margin: 24px auto;
}

div.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

div.square {
  width: 96px;
  height: 96px;
  border-radius: 10px;
  padding: 24px 28px 32px 28px;
  position: relative;
}
div.square .outline {
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 28px;
  height: 40px;
  width: 40px;
  opacity: 0;
}
div.square:hover .outline {
  opacity: 1;
}
div.square img {
  width: 40px;
  height: 40px;
  position: relative;
}

.square-normal {
  background-color: #1f3641;
  box-shadow: inset 0px -10px #10212a;
}

.winSquare-x {
  background-color: #31c3bd;
  box-shadow: inset 0px -10px #118c87;
}

.winSquare-o {
  background-color: #f2b137;
  box-shadow: inset 0px -10px #cc8b13;
}

.win-icon-transparent {
  filter: invert(11%) sepia(10%) saturate(2532%) hue-rotate(160deg) brightness(15%) contrast(87%);
}

.square-active:active {
  box-shadow: none;
  top: 4px;
}
.square-active:active .outline {
  top: 28px;
}

.content {
  margin: 40px auto 0px auto;
  width: 280px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content .win-lose-text {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.64px;
  letter-spacing: 0.88px;
  color: #a8bfc9;
  margin-bottom: 16px;
}
.content div {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
}
.content div img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.content div .who-win-text {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  letter-spacing: 1.5px;
}
.content div .circle-win {
  color: #f2b137;
}
.content div .cross-win {
  color: #31c3bd;
}
.content div .draw-win {
  color: #a8bfc9;
}
.content .endgame-btn-container {
  display: flex;
  gap: 16px;
}
.content .endgame-btn-container .next-btn, .content .endgame-btn-container .reset-btn {
  background-color: #f2b137;
  box-shadow: inset 0px -4px #cc8b13;
  width: 146px;
  height: 52px;
  color: #1a2a33;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
  padding: 15px 16px 16px 16px;
  text-align: center;
  border: none;
  border-radius: 10px;
  position: relative;
}
.content .endgame-btn-container .next-btn:active, .content .endgame-btn-container .reset-btn:active {
  box-shadow: none;
  top: 10px;
}
.content .endgame-btn-container .reset-btn {
  width: 76px;
  height: 52px;
  background-color: #a8bfc9;
  box-shadow: inset 0px -4px #6b8997;
}

.content .restart-text {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  letter-spacing: 1.5px;
  color: #a8bfc9;
}
.content .restart-btn {
  display: flex;
  gap: 16px;
}
.content .restart-btn .btn-cancel-restart {
  width: 139px;
  height: 52px;
  background-color: #a8bfc9;
  box-shadow: inset 0px -4px #6b8997;
  border: none;
  border-radius: 10px;
  color: #1a2a33;
  position: relative;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
}
.content .restart-btn .btn-cancel-restart:active {
  box-shadow: none;
  top: 10px;
}
.content .restart-btn .btn-restart {
  width: 151px;
  height: 52px;
  background-color: #f2b137;
  box-shadow: inset 0px -4px #cc8b13;
  border: none;
  border-radius: 10px;
  color: #1a2a33;
  position: relative;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
}
.content .restart-btn .btn-restart:active {
  box-shadow: none;
  top: 10px;
}

.records-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.records-container div {
  width: 96px;
  height: 64px;
  border-radius: 10px;
  text-align: center;
  padding: 12px 19px;
  color: #1a2a33;
}
.records-container div .records-role {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.64px;
  letter-spacing: 0.88px;
}
.records-container div .records-score {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25.2px;
  letter-spacing: 1.25px;
}
.records-container .records-you {
  background-color: #31c3bd;
}
.records-container .records-tie {
  background-color: #a8bfc9;
}
.records-container .records-cpu {
  background-color: #f2b137;
}

footer a {
  text-decoration: none;
  color: #dbe8ed;
  text-align: center;
}
footer a p {
  margin-top: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 200px;
  width: 100%;
  height: 228px;
  background-color: #1f3641;
  z-index: 30;
  -webkit-animation: slide-down 300ms ease-out forwards;
          animation: slide-down 300ms ease-out forwards;
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */