@import "../base/components";
@import "../base/typography";

.hero {
  margin: 22px 0px 33px 0px;
  .hero-container {
    margin: 0px 16px 23px 16px;
    h1 {
      margin-bottom: 26px;
      color: $primary-dark;
    }
    p {
      margin-bottom: 24px;
      color: $text-primary-clr;
    }
    .btn-linear {
      @extend .btn-getStarted;
      background-image: $warm-linear;
      padding: 15px 37px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .hero-img {
    .hero-img--tablet,
    .hero-img--desktop {
      display: none;
    }
  }
}

//tablet

@media (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
    margin: 75px 0px 93px 0px;
    .hero-container {
      margin: 0px 39px 0px 39px;
    }

    .hero-img {
      width: 100%;
      .hero-img--mobile,
      .hero-img--desktop {
        display: none;
      }
      .hero-img--tablet {
        display: block;
        width: 640px;
        position: absolute;
        z-index: -1;
        top: -95px;
        right: -280px;
      }
    }
  }
}

//Desktop

@media (min-width: 1440px) {
  .hero {
    margin: 120px 0px 113px 0px;
    .hero-container {
      margin-left: 165px;
      h1 {
        font-size: 56px;
        line-height: 70px;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
      }
    }
    .hero-img {
      .hero-img--mobile,
      .hero-img--tablet {
        display: none;
      }
      .hero-img--desktop {
        display: block;
        width: 992px;
        position: absolute;
        z-index: -1;
        top: -180px;
        right: -340px;
      }
    }
  }
}
